.Container{
    width:70%; 
    height: 75vh;
    margin: auto;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 27px 3px rgba(0,0,0,0.27);
}

@media(max-width: 590px){
    .Container{
        top: 40%;
        height: 50vh;
    }
}

@media(max-width: 425px){
    .Container{
        width: 98%;
    }
}

@media(max-width: 320px){
    .Container{
        height: 35vh;
    }
}